.user-article {
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-article__username {
	color: white;
}
.user-article__button {
	margin-left: 20px;
	border: 1px solid white;
	padding: 15px;
	color: white;
	border-radius: 5px;
}
.user-article__button:hover {
	background: #9bc837;
	border: 1px solid transparent;
}

@media screen and (max-width: 991px) {
	.user-article {
		margin: 20px 0;
	}
}
