<div class="course-list">
	<div class="course-list_header">
		<div class="container">
			<h2 class="course-list__title">{{title}}</h2>
			<div class="course-list_search">
				<app-course-search
					class="course-search"
					[query]="query"
					(searchItem)="onSearchItem($event)"
				></app-course-search>
				<app-course-button text="Add Course" [icon]="icons.get('plus')"></app-course-button>
			</div>
		</div>
	</div>
	<div class="course-list_content">
		<div class="block-course-list container">
			<app-course-list-item
				*ngFor="let item of courses"
				[courseItem]="item"
				(removeItem)="onRemoveItem($event)"
			></app-course-list-item>
		</div>
	</div>
	<div class="course-list_footer container">
		<app-course-button [text]="loadMoreText" className="button-course" (clickButton)="onLoadMore()"></app-course-button>
	</div>
</div>


