.course-list_header {
	background: linear-gradient(to right, rgba(230,117,134,1) 0%,rgba(248,150,78,1) 100%);
	padding: 20px;
}

.course-list__title {
	color: white;
	margin-bottom: 20px;
	font-size: 1.5em;
}

.course-search {
	min-width: 50%;
	margin-right: 20px;
}

.course-list_search {
	display: flex;
	align-items: center;
}

.course-list__button {
	background: #30b6dd;
	color: white;
	border-radius: 5px;
	padding: 10px 15px;
}
.course-list__button:hover {
	background: darken($color: #30b6dd, $amount: 10)
}

@media screen and (max-width: 767px) {
	.course-list_search {
		flex-direction: column;
	}

	.course-search {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}

	.course-add {
		align-self: flex-start;
	}
}
