<div class="course-list">
	<div class="course-list_header">
		<div class="container">
			<h2 class="course-list__title">{{title}}</h2>
			<div class="course-list_search">
				<app-course-search
					class="course-search"
					[query]="query"
					(searchItem)="onSearchItem($event)"
				></app-course-search>
				<app-course-button text="Add Course" [icon]="icons.get('plus')"></app-course-button>
			</div>
		</div>
	</div>

	<div class="course-list_content">
		<div class="course-list_filter">
			<div class="container">
				<!-- TODO: RL: Refactor this + create test -->
				<app-course-button text="name" className="button-course" [icon]="sortedByTitle ? icons.get('sortNumericDown') : icons.get('sortNumericUp')" (clickButton)="onSortedByTitle()"></app-course-button>
				<app-course-button text="date" className="button-course" [icon]="sortedByDate ? icons.get('sortNumericDown') : icons.get('sortNumericUp')" (clickButton)="onSortedByDate()"></app-course-button>
				<app-course-button text="duration" className="button-course" [icon]="sortedByDuration ? icons.get('sortNumericDown') : icons.get('sortNumericUp')" (clickButton)="onSortedByDuration()"></app-course-button>
			</div>
		</div>

		<div class="block-course-list container">
			<ng-container *ngIf="(courses
				| filterByQuery: query
				| sortedBy: 'title': sortedByTitle
				| sortedBy: 'creationDate': sortedByDate
				| sortedBy: 'duration': sortedByDuration
			) as items">
				<app-course-list-item
					*ngFor="let item of items"
					[courseItem]="item"
					(removeItem)="onRemoveItem($event)"
				></app-course-list-item>
				<div *ngIf="!items.length" class="block-course-list__empty">
					{{ noDataMessage | uppercase }}
				</div>
			</ng-container>
		</div>
	</div>
	<div class="course-list_footer container">
		<app-course-button [text]="loadMoreText" className="button-course" (clickButton)="onLoadMore()"></app-course-button>
	</div>
</div>


