.button-transparent {
	border: 1px solid white;
	padding: 15px;
	color: white;
	border-radius: 5px;
}
.button-transparent:hover {
	background: #9bc837;
	border: 1px solid transparent;
}
.button-transparent__text {
	padding-left: 10px;
}

.button-course {
	background: #30b6dd;
	color: white;
	border-radius: 5px;
	padding: 10px 15px;
}
.button-course:hover {
	background: darken($color: #30b6dd, $amount: 10)
}

.button-course-search {
	padding: 10px;
	background: #9bc837;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	height: 100%;
}
.button-course-search:hover {
	background: darken(#9bc837, 10)
}
