<form class="course-form" (submit)="onSubmit()">
	<h3 class="course-form__title">{{title}}</h3>
	<div class="course-form__item">
		<app-label className="course-form" [icon]="icons.get('key')" text="Title" for="title">
			<app-input [defaultValue]="courseItem.title" placeholder="Please enter title ..." name="title"></app-input>
		</app-label>
	</div>
	<div class="course-form__item">
		<app-label className="course-form" [icon]="icons.get('listAlt')" text="Description" for="description">
			<app-textarea placeholder="Please enter description ..." name="description">
				{{courseItem.description}}
			</app-textarea>
		</app-label>
	</div>
	<div class="course-form__item">
		<app-label className="course-form" [icon]="icons.get('calendar')" text="Publish date" for="date">
			<app-input [defaultValue]="courseItem.creationDate" type="date" placeholder="Please enter publish date ..." name="date"></app-input>
		</app-label>
	</div>
	<div class="course-form__item">
		<app-label className="course-form" [icon]="icons.get('clock')" text="Duration" for="duration">
			<app-input [defaultValue]="courseItem.duration" type="number" placeholder="Please enter duration ..." name="duration" ></app-input>
		</app-label>
	</div>
	<div class="course-form__item">
		<!-- TODO: RL: Labels -->
		<app-label className="course-form" [icon]="icons.get('users')" text="Authors" for="authors">
			<app-input placeholder="Please enter authors ..." name="authors"></app-input>
		</app-label>
	</div>
	<div class="course-form__item">
		<app-button type="submit" className="button-blue" text="Save"></app-button>
		<app-button type="button" (click)="onCancel()" className="button-blue" text="Cancel"></app-button>
	</div>
</form>
