.app-button {
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	height: 100%;
	display:  flex;
}

.button-transparent {
	color: white;
	border: 1px solid white;
}
.button-transparent:hover {
	border: 1px solid transparent;
	background: #9bc837;
}

.button-blue {
	color: white;
	background: #30b6dd;
	margin: 0 10px;
}
.button-blue:hover {
	background: darken($color: #30b6dd, $amount: 10)
}

.button-playlist-item,
.button-course-item {
	color: white;
	background: #30b6dd;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 10px 0;
}
.button-playlist-item:hover,
.button-course-item:hover {
	background: darken(#30b6dd, 10);
}

.button-playlist-search,
.button-course-search {
	color: white;
	background: #9bc837;
}

.button-playlist-search:hover,
.button-course-search:hover {
	background: darken(#9bc837, 10)
}
