<div class="{{className}}">
	<div class="{{className}}_header">
		<div class="container">
			<h2 class="{{className}}__title">{{title}}</h2>
			<div class="{{className}}_search">
				<app-playlist-search
					class="playlist-search"
					[query]="query"
					(searchItem)="onSearchItem($event)"
				></app-playlist-search>
				<app-button text="Add Playlist" [icon]="icons.get('plus')" (clickButton)="onAdd()"></app-button>
			</div>
		</div>
	</div>

	<div class="{{className}}_content">
		<div class="block-{{className}} container" [appLoading]="loading$ | async">
			<ng-container *ngIf="items$ | async">
				<app-playlist-item
					*ngFor="let item of (items$ | async)"
					[item]="item"
					(editEvent)="onEditItem($event)"
					(removeEvent)="onRemoveItem($event)"
				></app-playlist-item>
				<div *ngIf="!(items$ | async).length" class="block-{{className}}__empty">
					{{ noDataMessage | uppercase }}
				</div>
			</ng-container>
		</div>
	</div>
	<div class="{{className}}_footer container">
		<app-button [text]="loadMoreText" className="button-blue" (clickButton)="onLoadMore()"></app-button>
	</div>
</div>
