.breadcrumbs {
	background: linear-gradient(to right, #e67586 0%, #f8964e 100%);
	border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
}
.breadcrumbs__text {
	color: white;
	padding: 10px;
}
