<article class="breadcrumbs">
	<div class="container">
		<p class="breadcrumbs__text">{{text}}</p>
	</div>
</article>
<!-- breadcrumb -->
<!-- <a routerLink="/login/222" activateRoute="2">11</a>
<div class="breadcrumb simple">
	<div *ngFor="let bcElement of bcLoadedData; let last = last">
		{{bcElement.bc}}
		<span class="breadcrumb-separator" *ngIf="!last">></span>
	</div>
</div>
<ol class="breadcrumb">
	<li *ngFor="let breadcrumb of breadcrumbs | async; last as isLast;"
		class="breadcrumb-item"
		[ngClass]="{'active': isLast}" aria-current="page">
	  <a *ngIf="!isLast; else lastRoute"
		 [routerLink]="[breadcrumb.url]"
		 routerLinkActive="active">
		{{ breadcrumb.label }}
	  </a>
	  <ng-template #lastRoute>{{ breadcrumb.label }}</ng-template>
	</li>
  </ol> -->
