.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

app-header {
	flex: 1 0 auto;
	max-height: 70px;
}
app-breadcrumbs {
	flex: 2 0 auto;
	max-height: 41px;
}
main {
	flex: 3 0 100%;
	height: 100%;
}
app-footer {
	flex: 4 0 auto;
	max-height: 40px;
}

@media screen and (max-width: 991px) {
	app-header {
		height: auto;
		max-height: inherit;
	}
}
