.playlist-form {
	border: 1px solid rgba(128, 128, 128, 0.5);
	padding: 10px;
	border-radius: 5px;
	min-width: 50%;
	box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}
.playlist-form__item  {
	margin: 15px 5px;
}
.playlist-form__footer {
	display: flex;
}
.playlist-form__header {
	padding: 20px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    text-align: center;
    margin-bottom: 30px;
}
.playlist-form__title {
	font-size: 1em;
	text-align: center;
}
