<div class="course-search">
	<form class="course-search-form" (ngSubmit)="onSearch()">
		<!-- TODO: RL: move later to separate component in UI folder  -->
		<label class="course-search-form__label">
			<fa-icon [icon]="icons.get('search')"></fa-icon>
			<input class="course-search-form__input" (input)="onSearch()" [(ngModel)]="query" placeholder="Search by name, description or date ..." name="search" />
		</label>
		<app-button className="button-course-search" (clickButton)="onSearch()" text="Search" type="submit"></app-button>
	</form>
</div>
