.box-course-item {
	display: flex;
}
.box-course-item__wrapper {
	display: flex;
	margin: 15px 0;
	width: 100%;
	height: 100%;
}
.box-course-item__shadow {
	border-radius: 5px;
	border: 1px solid #eaedf5;
}
.box-course-item__img {
	width: 25%;
	margin-right: 70px;
}
.box-course-item__content {
	width: 75%;
}
.box-course-item__info {
	width: calc(100% - 70px);
	display: flex;
	margin-right: 20px;
	flex-direction: column;
}
.box-course-item__buttons {
	width: 85px;
	display: flex;
	flex-direction: column;
}
.box-course-item__button {
	color: #30b6dd;
	border: 1px solid #f3f5f9;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 10px 0;
}
.box-course-item__button:hover {
	background: #30b6dd;
	color: #f3f5f9;
}
.box-course-item__title {
	color: #41424f;
	flex: 1 0 auto;
	font-size: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.box-course-item__description {
	flex: 2 0 auto;
	height: calc(100% - 40px);
	overflow: hidden;
	color: #6c7283;
	padding: 20px 0;
}
.box-course-item__additionall-info {
	display: flex;
	justify-content: flex-start;
	flex: 3 0 auto;
}
.box-course-item__duration {
	display: flex;
}


@media screen and (max-width: 1169px) {
	.box-course-item__img {
		width: 40%;
	}
	.box-course-item__content {
		width: 60%;
	}
}

@media screen and (max-width: 991px) {
	.box-course-item__img {
		width: 60%;
	}
	.box-course-item__content {
		width: 40%;
	}
}

@media screen and (max-width: 767px) {
	.box-course-item__img {
		width: 100%;
	}
	.box-course-item__content {
		width: 100%;
	}
	.box-course-item__wrapper {
		flex-direction: column;
	}
	.box-course-item__info,
	.box-course-item__button {
		margin: 0 10px;
	}
	.box-course-item__buttons {
		width: 100%;
		margin: 20px 0;
		flex-direction: row;
	}
}
