.page-not-found {
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-not-found__text {
	text-align: center;
}
.page-not-found__text h1 {
	font-size: 3em;
}
.page-not-found__text h2 {
	font-size: 1em;
}
