<div class="container">
	<div class="page-registry">
		<!-- TODO: RL: Implementing it later with separate form component -->
		<form class="registry-form" (submit)="onSubmit()">
			<!-- TODO: RL: Move it later to separate component `form-item` which should be included an element with a result of input validation  -->
			<div class="registry-form__item registry-form__wrapper">
				<app-label className="registry-form" [icon]="icons.get('at')" text="Username" for="username">
					<app-input className="registry-form" (inputEvent)="onChange($event)" [value]="username" placeholder="Please enter email ..." name="username"></app-input>
				</app-label>
			</div>
			<!-- TODO: RL: Move it later to separate component `form-item` which should be included an element with a result of input validation  -->
			<div class="registry-form__item registry-form__wrapper">
				<app-label className="registry-form" [icon]="icons.get('key')" text="Password" for="password">
					<app-input type="password" className="registry-form" (inputEvent)="onChange($event)" [value]="password" placeholder="Please enter password ..." name="password"></app-input>
				</app-label>
			</div>
			<!-- TODO: RL: Move it later to separate component `form-item` which should be included an element with a result of input validation  -->
			<div class="registry-form__item registry-form__wrapper">
				<app-label className="registry-form" [icon]="icons.get('key')" text="Confirm Password" for="passwordConfirmation">
					<app-input type="password" className="registry-form" (inputEvent)="onChange($event)" [value]="passwordConfirmation" placeholder="Please confirm password ..." name="passwordConfirmation"></app-input>
				</app-label>
			</div>
				<!-- TODO: RL: Move it later to separate component `form-item` which should be included an element with a result of input validation  -->
			<div class="registry-form__item registry-form__wrapper">
				<app-label className="registry-form" [icon]="icons.get('key')" text="First Name" for="firstName">
					<app-input type="text" className="registry-form" (inputEvent)="onChange($event)" [value]="firstName" placeholder="Please enter first name ..." name="firstName"></app-input>
				</app-label>
			</div>
			<!-- TODO: RL: Move it later to separate component `form-item` which should be included an element with a result of input validation  -->
			<div class="registry-form__item registry-form__wrapper">
				<app-label className="registry-form" [icon]="icons.get('key')" text="Last Name" for="lastName">
					<app-input type="text" className="registry-form" (inputEvent)="onChange($event)" [value]="lastName" placeholder="Please enter last name ..." name="secondName"></app-input>
				</app-label>
			</div>
			<app-button type="submit" className="button-blue" text="Registry"></app-button>
		</form>
	</div>
</div>
